DATABASE_URL="file:./prisma/dev.db"

# NextAuth v5 menggunakan AUTH_SECRET (wajib!)
# Generate dengan: openssl rand -base64 32
AUTH_SECRET="ganti-dengan-secret-key-anda"
AUTH_TRUST_HOST=true
NEXTAUTH_URL="http://localhost:3000"
